<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <!--css de bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
        <!-- Fuente -->
        <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
        <!--css propio-->
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css')}}">
</head>
<body>
    <!--Este es el contenedor de todo-->
    <div main class="container-4 text-center mt-5">

        <!--Esta es la division para la pantalla de la camara-->
        <div class="col ">
            <h1>Hola mundo</h1>
            <h1>asdfa</h1>
            <h1>asdfasf</h1>
            <h1>xzcbzxv</h1>
            <h1>qwerqwer</h1>
            <h1>xgcnhd</h1>
            <h1>ertyeryre</h1>
        </div>

        <!--Esta es la division para los botones-->
        <div class="col">
            <div class="row">
                <!--Estas son las columnas para los botones-->
                <div class="col">
                    <form action="" class="mt-4">
                        <button class="btn btn-primary btn-block">Iniciar</button>
                    </form>
                    <form action="" class="mt-4">
                        <button class="btn btn-primary btn-block">Detener</button>
                    </form>
                </div>
                <div class="col">
                    <form action="/estadisticas-tr" method="GET">
                        <button class="btn btn-primary btn-block mt-4">
                            Estadisticas
                        </button>
                    </form>
                    <form action="/estadisticas-finales" method="GET">
                        <button class="btn btn-primary btn-block mt-4">
                            terminar
                        </button>
                    </form>
                </div>
                <div class="col">

                </div>
            </div>
        </div>
    </div>
</body>
</html>