<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estadísticas Tiempo Real</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <!--css propio-->
    <link rel="stylesheet" href="{{'main.css'}}">
</head>
<body >

    <div main=container-4 class="text-center">
        <div class="row ">
                
            <div class="col text-center">

                <h1 class="text-center display-4 title mt=4">Estadisticas Registradas</h1>
                <div class="col-md-4 offset-md-4">
                    <div class="col">
                        sentimiento:
                        <img src="\static\user.png" alt="imagen" width="400" height="400"> 
                    </div>
                    <div class="col">
                        sentimiento:
                        <img src="\static\user.png" alt="imagen2" width="400" height="400">
                    </div>
                    <div class="col">
                        sentimiento:
                        <img src="\sttic\user.png" alt="imagen3" width="400" height="400">
                    </div>
                </div>
            </div>

            <div class="col-md-2 mt-5 mr-5">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <form action="/detector-emociones">
                    <button type=submit class="btn btn-primary btn-block">
                        Regresar
                    </button>
                </form>
            </div>
        </div>
    </div>
    
</body>
</html>