<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista Usuarios</title>
    <!--css de bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <!--css propio-->
    <link rel="stylesheet" href="{{'main.css'}}">
</head>
<body >
    <div id='general'>
        <div class="row">
            <div class="col-md-4  " id="formulario">
                

                <div class="text-center" >
                    <img src="static/user.png" height="200" alt="icono">
                    <h6>Administrador: </h6>
                </div>
                <div class="card">             <!--Esto es para crear el cuadrito que contiene el formulario-->
                    <div class="card-header">
                        <form action="">        <!--Esto es para crear el formulario-->
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                        </form>
                        <form action="">        <!--Esto es para crear el formulario-->
                            <input type="text" name="cedula" placeholder="cedula" class="form-control">
                        </form>
                    </div>
                    <div class="card-body">
                        <form action="/">
                            <button type="submit" class="btn btn-primary btn-block">
                                Buscar
                            </button>
                        </form>

                    </div>
                    <div> 
                        <form action="/graficos">
                            <button type="submit" class="btn btn-primary btn-block">Graficas</button>                    
                        </form>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div class="card-body">
                        <form action="/menu-admin">
                            <button type="submit" class="btn btn-primary btn-block">
                                Salir
                            </button>
                        </form>

                    </div>
                    
                </div>
            </div>    
            
            <div class="card-body">
                <h2 class="text-center">Usuarios</h2>
                <table style="width:100%">
                    <tr>
                    <th>Cedula</th>
                    <th>Nombre</th>
                    <th>Edad</th>
                    <th></th>
                    <th></th>
                    </tr>
                    {% for usuario in lista_usuarios %}
                    <tr>
                    <td>{{usuario.id}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.nacimiento}}</td>
                    <td><a href="/graficosUsuario/{{usuario.id}}" class="btn btn-success btn-sm">Ver</a></td>
                    <td><a href="/delete/{{usuario.id}}" class="btn btn-danger btn-sm">Eliminar</a></td>
                    </tr>
                    {% endfor %}            
                </table> 
            </div>

        </div>
            
        
    </div>
    
</body>
</html>