<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Usuario</title>

    
    <!--css de bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
    <!-- Fuente -->
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <!--css propio-->
    <link rel="stylesheet" href="{{'main.css'}}">
    <style>
        .padre {
            position:relative;
            /* height: 200px;             */
            /* align-items: center; */
        }
        .hijo{
            position: absolute;
            /* width: 50%; */
            /* height: 150px; */
            /* top: 50%; */
            left: 50%;
            /* margin-left: -25%; */
            margin-top: 50px;
            
            
        }
    </style>
</head>

<body> 
    <div class="col-md-3" >
        <form action="/">
            <button button type="submit" class="btn btn-primary btn-block">
                Regresar
            </button>
        </form>
    </div>     

    <!-- <div class="center" style="display: flex; align-items: center; width: 500px;"> -->
    <div class="container">

    
    <div class="padre" >
        <div class="hijo">      
            <div class="text-center " style="width: 500px;" >
                <img src="static/user.png" height="200">
            </div>

            <div class="container">
        
                <form action="/create-user" method="POST">
                    <div class="card">             <!--Esto es para crear el cuadrito que contiene el formulario-->
                        <div class="card-header">
                            <input type="text" name="nombre" placeholder="Nombre" class="form-control" autofocus>
                        </div>
                        <div class="card-header">
                            <input type="text" name="cedula" placeholder="cedula" class="form-control">
                        </div>
                        <div class="card-header">
                            <input type="date" name="edad" placeholder="Fecha de nacimiento" class="form-control">
                        </div>
                    </div>
                    
                    <button type="submit" class="btn btn-primary btn-block">
                        Ingresar
                    </button>
                </form>
            </div> 
        </div>        
    </div>
</div>       
</body>
</html>