<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Administrador</title>
        <!--css de bootstrap-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/sandstone/bootstrap.min.css">
        <!-- Fuente -->
        <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
        <!--css propio-->
        <link rel="stylesheet" href="{{'main.css'}}">
</head>
<body>
    
    <main class="col-md-4 offset-4 mt-4">
        <br><br><br><br><br>
        <h1 class="text-center display-4">Bienvenido Administrador</h1>
        <h2 class="text-center ">Selecciones una acción</h2>
        <br><br><br><br><br>

        <div class="row">
            <div class="col">
                <form action="/lista-usuarios" method="GET">        <!--Esto es para crear el formulario-->
                    <div class="">
                        <button type="submit"  class="btn btn-primary  btn-block" style="margin: 10px">
                            
                            Lista de Usuarios<br>
                        </button>
                    </div>
                </form>
                <form action="/admin-estadisticas" method="GET">        <!--Esto es para crear el formulario-->
            </div>
            <div class="col">
                <form action="/admin-estadisticas" method="GET">        <!--Esto es para crear el formulario-->
                    <div class="">
                        <button type="submit" class="btn btn-primary  btn-block" style="margin: 10px" >
                            Estadísticas Usuarios<br>
                        </button>
                    </div>
                </form>
            </div>                 
        </div>
        <br><br><br><br><br><br>
            <div class="col">
                <form action="/" method="GET">        <!--Esto es para crear el formulario-->
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary " style="margin: 10px" >
                            Salir de administrador<br>
                        </button>
                    </div>
                </form> 
            </div>    
    </main>
</body>
</html>